<nav class="main-navbar">
  <ul>
    <li><a href="{{ url_for('index') }}">BERANDA</a></li>
    <li>
      <a href="#">PROFIL</a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_for('visi_misi') }}">Visi & Misi</a></li>
        <li>
          <a href="#">Struktur</a>
          <ul class="dropdown-submenu">
            <li><a href="#">Struktur 1</a></li>
            <li><a href="#">Struktur 2</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">BERITA</a></li>
    <li>
      <a href="#">GALERI</a>
      <ul class="dropdown-menu">
        <li><a href="#">Foto</a></li>
        <li><a href="#">Video</a></li>
      </ul>
    </li>
    <li><a href="#">INFORMASI PUBLIK</a></li>
  </ul>
</nav>
